<div class="modal fade {{modalClass}}"  id="{{if confirmDialogId confirmDialogId "confirmDialog"}}" tabindex="-1" role="dialog" aria-labelledby="confirmDialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        {{confirmMessage}}
      </div>
      <div class="modal-footer">
        <button id={{unique-name-helper model='confirmDialog' name='cancel' dbid='confirmDialog'}} type="button" class="btn btn-default" {{action "cancel"}}>Cancel</button>
        <button id={{unique-name-helper model='confirmDialog' name='confirm' dbid='confirmDialog'}} type="button" class="btn btn-primary" {{action "confirm"}}>Confirm</button>
      </div>
    </div>
  </div>
</div>
